.traffic-light {
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  margin-left: -60px;
  margin-top: -160px;
  background-color: #333;
  width: 120px;
  height: 420px;
  border-radius: 30px;
}

input {
  appearance: none;
  position: relative;
  left: 50%;
  width: 80px;
  height: 80px;
  margin-top: 20px;
  margin-left: -40px;
  background-color: grey;
  vertical-align: middle;
  border-radius: 100%;
  display: block;
}

.colorRojo {
  background-color: red;
}

.colorAmarillo {
  background-color: yellow;
}

.colorVerde {
  background-color: green;
}

.colorMorado {
  background-color: rgb(128, 0, 117);
}

.selected {
  -webkit-box-shadow: 0px 0px 75px 27px rgba(222, 235, 127, 0.71);
  -moz-box-shadow: 0px 0px 75px 27px rgba(222, 235, 127, 0.71);
  box-shadow: 0px 0px 75px 27px rgba(222, 235, 127, 0.71);
}